h1 {
    font-size: 2.5rem; 
    font-weight: bold;
    text-align: center; 
    margin-top: 4%;
    margin-bottom: 2%;
    color: #191A0F;
}

p{
    font-size: 1.2rem; 
    line-height: 1.6;  
    color:#003459;
    margin-left: 3%;
}
.date {
    font-size: 0.9rem;
    color: #88B9C6;
}

.submit-btn{
background-color: #E5E5E6;
border: 2px solid #214E34;
color: #191A0F;
font-size: 16px;
padding: 8px 15px;
}

.submit-btn:hover{
background-color: #214E34;
color: #E5E5E6;
cursor: pointer;
}

.review{
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.review p label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #191A0F;
}

#id_email {
    background-color: #E5E5E6;
   border: none;
    border-bottom: 2px solid #214E34;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
    margin-bottom:2%;
    border-radius: 4px;
}

#id_rating {
    width: 100%;
    padding: 10px;
    background-color: #E5E5E6;
    border: none;
    border-bottom: 2px solid #214E34;
    padding: 12px 15px;
    margin: 8px 0;
    margin-bottom:2%;
    border-radius: 4px;
    cursor: pointer;
}

#id_comment {
    background-color: #E5E5E6;
    border: none;
    border-bottom: 2px solid #214E34;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
    height: 20vh;
    margin-bottom:2%;
    border-radius: 4px;
    resize: vertical; 
}

#id_comment:hover, #id_email:hover, #id_rating:hover {
    border: 2px solid #214E34;
}

.fa-solid{
    color: #88B9C6;
}
.fa-regular{
    color: #CCCCCC;
}

@media (max-width: 768px) {
    .review {
        width: 90%; 
    }

    h1 {
        font-size: 1.8rem; 
        margin-top: 10%;
    }

    p {
        margin-left: 0;
        text-align: center;
        padding: 0 10px;
    }
    
    .submit-btn {
        width: 100%; 
        padding: 15px;
    }
}

