<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tehnologii Web</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'CSS/main.css' %}">
</head>
<body>
    <header>
        <nav>
            <a href="{% url 'home' %}"> <img src="../static/MEDIA/logo1.png" alt="Logo"></a>
            <div class="dropdown">
            <a href="{% url 'home' %}" class="dropLink">Classes</a>
                <div class="classList" id="classList">
                
                    <!-- Lista de clase va aici -->
                     <a href="{% url 'classes' %}">Tehnologii Web</a>
                </div>
            </div>
            <a href="{% url 'upcoming' %}">Upcoming tests</a>
            <a href="{% url 'feedback' %}">Feedback</a>
            <!-- Functie Django predefinita de log out --> 
            <form method="post" action="{% url 'logout' %}">
                {% csrf_token %} <button type="submit" class="logout-btn">
                Logout
                </button>
            </form>
        </nav>
    </header>

    <main>

    </main>
</body>
</html>