<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Home</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'CSS/main.css' %}">
    <link rel="stylesheet" href="{% static 'CSS/home.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>

<body>
    {% include 'features/navbar.html' %}

    <main>
        {% for c in classes %}
        <div class="card" onclick="location.href = '/class/{{ c.id }}/'">
            <div class="cardHeader">
                <h2>{{ c.name }}</h2>
            </div>
            <div class="cardBody">
                <p>{{ c.details }}</p>
            </div>
            <span class="classCode">Code: {{ c.code }}</span>
        </div>
        {% endfor %}



    </main>

    {% if request.user.profile.role == "student" %}

    <div class="popup" id="popup-student">
        <form action="{% url 'join_class' %}" method="POST" class="form-popup">
            {% csrf_token %}
            <h2>Join New Class</h2>
            <input type="text" id="classCode" name="classCode" placeholder="Class Code" required>
            <div class="buttons">
                <button type="submit" id="class">Join Class</button>
                <button type="button" id="closePopup">Cancel</button>
            </div>
        </form>
    </div>

    <footer>
        <button id="createClass" class="createClass">
            +
        </button>
    </footer>

    {% endif %}

    {% if request.user.profile.role == "teacher" %}

    <div class="popup" id="popup">
        <form action="{% url 'create_class' %}" method="POST" class="form-popup">
            {% csrf_token %}
            <h2>Create New Class</h2>
            <input type="text" id="className" name="className" placeholder="Class Name" required>
            <textarea id="details" name="details" placeholder="Details"></textarea>
            <div class="buttons">
                <button type="submit" id="class">Create Class</button>
                <button type="button" id="closePopup">Cancel</button>
            </div>
        </form>
    </div>


    <footer>
        <button id="createClass" class="createClass">
            +
        </button>
    </footer>
    {% endif %}

    <script src="{% static 'JS/home.js' %}"></script>
</body>

</html>